h1 {
    font-size: 400%;
    margin-bottom: 4px;
    color: map-get($colors, "primary");
}

h2 {
    font-size: 300%;
    margin-bottom: 3px;
    color: map-get($colors, "primary");
}

h3 {
    font-size: 200%;
    margin-bottom: 2px;
    color: map-get($colors, "primary");
}

body {
    background-color: map-get($colors, "background");
    padding: 0 1px 0 1px;
}

header {
    margin: 0px;
    padding: 2px;
    background-color: map-get($colors, "primary");
    align-items: center;
    padding: 15px 0 15px 20px;
    font-size: 12px;
    color: map-get($studitemps-colors, "white");
}

table {
    padding: 3px;
    background-color: map-get($table-colors ,'table-background');
    border: solid 1px;
    display: inline-block;
    text-align: center;
}

thead {
    background-color: map-get($table-colors, 'header');
    th {
        padding: 2px;
        min-width: 10em;
    }

}

tbody {
    td {
        padding: 2px;
    }
    tr:nth-child(2n) {
        background-color: map-get($table-colors, 'row-dark');
    }
    tr:nth-child(2n-1) {
        background-color: map-get($table-colors, 'row-light');
    }

}
