@import "2_settings/_colors.scss";

div#main {
    background-color: map-get($studitemps-colors, "white");
    border-top-width: 1px;
    border-top-style: solid;
    border-color: map-get($colors, 'secondary');
    padding: 15px 0 15px 20px;
}

header a.restrabbit-breadcrump--element {
    color: map-get($studitemps-colors, "white");
    text-decoration: none;
}

.restrabbit-status--container {
    label {
        color: map-get($studitemps-colors, "grey-dark");
    }
    .info {
        color:  map-get($dialog_colors, "info");
    }
    .success {
        color:  map-get($dialog_colors, "success");
    }
    .warning {
        color:  map-get($dialog_colors, "warning");
    }
    .error {
        color:  map-get($dialog_colors, "error");
    }
}
