@import "2_settings/_colors.scss";

div#main {
    background-color: map-get($studitemps-colors, "white");
    border-top-width: 1px;
    border-top-style: solid;
    border-color: map-get($colors, 'secondary');
}

header a.restrabbit-breadcrump--element {
    color: map-get($studitemps-colors, "white");
    text-decoration: none;
}

