{% extends "base.html" %}

{% block title %}Heartbeat{% endblock %}
{% block breadcrump %}
    <a class="restrabbit-breadcrump--element" href="/heartbeat">
        Heartbeat
    </a>
{% endblock %}

{% block content %}
    <h2>Status</h2>
    <table class="restrabbit-status--container">
        <thead>
        <tr>
            <th>Service</th>
            <th>Status</th>
            <th>Aktion</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for name, service in server.client_services.items() %}
                {% with type, status = service.status() %}
                    <td>{{ name }}</td>
                    <td class="{{ type }}">{{ status }}</td>
                    <td>---</td>
                {% endwith %}
            {% endfor %}
        </tr>
        </tbody>
    <div class="restrabbit-status--container">
        <label for="id_start_timestamp">Service aktiv seid</label>
        <span id="id_start_timestamp" class="info">{{ active_since }}</span>
    </div>
{% endblock %}
