{% extends "base.html" %}

{% block title %}Heartbeat{% endblock %}
{% block breadcrump %}
    <a class="restrabbit-breadcrump--element" href="/heartbeat">
        Heartbeat
    </a>
{% endblock %}

{% block content %}
    <h2>Status</h2>
    {% for name, service in server.client_services.items() %}
    <div class="restrabbit-status--container">
        <label for="id_start_timestamp">{{ name }}</label>
        {% with type, status = service.status() %}
        <span id="id_start_timestamp" class="{{ type }}">{{ status }}</span>
        {% endwith %}
    </div>
    {% endfor %}
    <div class="restrabbit-status--container">
        <label for="id_start_timestamp">Service aktiv seid</label>
        <span id="id_start_timestamp" class="info">{{ active_since }}</span>
    </div>
{% endblock %}
